.content-area{
    margin-top:120px;
    margin-left:300px;
	 margin-right:120px;
	 margin-bottom:120px;
}


.content-area .button-area{
    
    margin-top:10%;
   
}

.content-area .button-area h3{
    margin-top:5%;
}

.content-area .button-area .btn{

    margin-left: 5%;
    margin-top: 5%;
    width: 100PX;
    height:100PX;
    background-color: aqua;
    border-radius: 20px;
    background-color: aliceblue;
    border: 5px solid #A2D9CE;

}

.content-area .button-area .btn:hover{
    background-color: #85e4d1;

}
button , .button{
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    height: 40px;
}


.editbtn {
	background-color: #1c87c9;	
  }
.editbtn:hover{
    background-color: #39a2e4c7;
}

.dltbtn {
	background-color: #f11a1a;
  }
.dltbtn:hover {
    background-color: #f82121de;
}

.viewbtn{
    background-color: #25af02;
  }
.viewbtn:hover{
    background-color: #2eca06dc;
}

button a{
    text-decoration: none;
    color: white;
}