
body {background-color: #2a2b3d}
.content {
  position: relative;
  transition: .3s;
}
.margin {
  margin-left: 0 !important;
}


.welcome {
  color: #313348;
  margin-left: 3px;
}

.welcome .dash-content {
  background-color: #fff;
  padding: 15px;
  margin-top: 15px;
  box-shadow: 1px 2px 1px 1px#b6b9ce;
  border-radius: 5px;
}
.welcome .dash-content:hover {
  box-shadow: 1px 2px 1px 2px#afb4d5;
  border-radius: 10px;
}

.welcome h2 {
  font-family: Calibri;
  font-weight: 100;
  margin-top: 0
}
.welcome p {
  color: #999;
}

table{
  width: 100%;
}
/* Start statistics */

.box {
  background-color: #ffffff;
  box-shadow: 1px 2px 1px 2px#a5a7b5;
  border-radius: 5px;
  padding: 15px;
  overflow: hidden;
  width: 100%;
}

.box:hover {
  box-shadow: 1px 2px 1px 3px#afb4d5;
  border-radius: 10px;
}
 .box > i {
   margin-top:10px ;
  float: left;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
}
 .box .info {
  float: left;
  width: auto;
  margin-left: 10px;
}
 .box .info h3 {
  margin: 5px 0 5px;
  display: inline-block;
}
.box .info p {color:#313348}

/* End statistics */
/* Start charts */
.charts {
  margin-top: 10px;
  color: #313348;
  display: inline-block;
  width: auto;
  height: auto;
}
.charts .chart-container {
  background-color: #fff;
  padding: 15px;
  width: 42%;
  height: 400px;
  float: left;
  margin: 5px;
}
.charts .chart-container h3 {
  margin: 0 0 10px;
  font-size: 17px;

}
.chart-container img{
margin: 20px;
  height: 80%;
}



.statis{
  border-spacing: 24px 24px;
  width: 98%;
  color: #313348;
}


.one td{
  border-spacing: 25px 10px;
  margin: 15px 1.5%;
  border-radius: 3px;
  width: 30%;
  float: left;
}
.two td{
  margin: 15px 5px;
  width: 20%;
}


.statis .box {
  position: relative;
  padding: 15px;
  overflow: hidden;
  
}
.statis .box h3:after {
  content: "";
  height: 2px;
  width: 70%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.12);
  display: block;
  margin-top: 10px;
}
.statis .box i {
  position: absolute;
  height: 70px;
  width: 70px;
  font-size: 22px;
  padding: 15px;
  top: -25px;
  left: -25px;
  line-height: 60px;
  text-align: right;
  border-radius: 50%;
}

/*chart*/
.chrt3 {
  padding-bottom: 50px;
}
.chrt3 .chart-container {
  height: 350px;
  padding: 15px;
  margin-top: 25px;
}
.chrt3 .box {
  padding: 15px;
}



.yellow {color: #f0ad4e;}
.red {color: #d9534f;}
.green {color: #5cb85c;}
.blue {color: #5bc0de;}

