

.card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-bottom:25px;
  padding: 20px;
  height: 31%;
  display: block;
  background-color: rgba(255, 255, 255, 0.673);
  border-radius: 15px;

}


.container {
  box-shadow: 0px 2px 1px 1px rgba(162, 160, 160, 0.2);
  background-color:#fff;
  height: 150px!important;
  float:left;
  display:block;
  padding: 2% 2px;
  margin-bottom:0px;
  margin-left:2px ;
	background-color:#fff;
	width:98%;
	text-align:center ;
	align-items:center ;
  justify-content: center;
  border-radius: 5px;
  
}


.front{
	background-image:url("../../images/frontt.jpg");
	width: 80%;
	height: 350px;
	background-size: cover;
	background-position: center top ;
	background-repeat:no-repeat;
	text-align:center;
	opacity:.9;
	font: italic;
	color:#fff;
	font-size: larger;
	line-height: 350px;
	margin: 0 auto;
	
}


.container p{
	font-size: 15px;
	padding: 5px 0;
	text-align: center;
}

h1{
  color: #000000;
  font-size: 25px;
  padding-top:10px;
  margin-bottom: 0!important;
  margin-top: 0!important;
}
.container h2{
  text-align: center;
	color:#004e7c;
	padding-top:10px;
	padding-bottom:5px;
}
h2{
	text-align:left;
	margin:5px 50px 0 40px; 
  color: rgb(5, 26, 87);
  font-size: 25px!important;
}
p{
	text-align:center;
  margin:0px 50px 0 50px; 
  font-size: 20px!important;
  margin: 0 20%;
}



.card {
	padding: 10px!important;
  overflow: auto;
  background-color: #fff;
  height: auto;
	
  }

td{
    width: 15%;
  }

.inner {
	
	border-spacing: 24px 25px;
	height: 150px!important;
	width:100%;
	margin: 5px 0!important;
}


.text{

  margin-top: 6%;
  margin-left: 40px;
  


}

.container img{
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 50px;
  margin-top: 50px;
}

.adjust{
  height: auto!important;
  padding-bottom: 30px;
}

.adjust p{
  border-top: 1px solid rgb(171, 170, 170);

}

.adjust .text{
  margin-left: 5px!important;

}

p span{
  font-size:10px!important;
  text-align: left;
  color: #4b4b4c;
  border-top: none!important;
  float: right;
}

.count{
  margin-top: 65px;
 width: 99.5%;
 box-shadow:0 .5px 0px 0px #eeeeee!important;
 text-align: left;
 height: 50px!important;
 margin-bottom: 10px;
 border-radius: 0;
 background-color: #ffffff;
 
}

.count h1{
  margin-left: 250px;
  color: #6a7480!important;
  font-size: 30px;
  
}