@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
 
}

footer{
  margin-bottom: 0;
  z-index: -22;
  color: #fbfbfb;
  width: 100%;
  background: #264490;
  font-family: 'Poppins';
  bottom: 0;
  width: 100%;
  clear: both;
  position: relative;
    margin-top: 80%;
}


 .bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
 .bottom center span{
  color: #f0ecec;
}
 .bottom center a{
  color: #f12020;
  text-decoration: none;
}
 .bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 100%) {
  footer{
    position: relative;
    bottom: 0px;
  }
  footer .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  footer .main-content .box{
    margin: 5px 0;
  }
}
