body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../../images/white.png);
}
.menu{
    background-color: #01213c;
}
.menu ul{
    display: inline-flex;
    margin: 30px 50px 5px 50px;
}

.menu ul li{
    list-style: none;
    margin: 10px 20px;
    color: #e0dada;
    cursor: pointer;
}
.logo img{
    width: 50px;
    margin-top: -15px;
    margin-right: 50px;
}

.login-btn{
    top: 12px;
    right: 40px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border-radius: 40px;
    background-color: rgb(64, 64, 64);
    background-origin: border-box;
    background-clip: content-box,border-box;
    width: 100px;
    height: 60px;
    color: black;
}

.login-btn span a{
    text-decoration: none;
    color: #000;
    margin-right:-10px ;
}
.login-btn span a:link{
    text-decoration: none;
    color: #000;
    margin-right:-10px ;
}
.login-btn span a:visited{
    text-decoration: none;
    color: #000;
}

.banner{

    width: 93%;
    height: 70%;
    left: 50px;
    position: absolute;
    color: rgb(0, 0, 0);
}
.app-text{
    width: 60%;
    float: left;
    text-align: center;
}
.banner h1{
    margin-top: 40px;
    font-size: 40px;
    width: 640px;
    position: relative;
    margin-left: 40px;
    color: rgb(64, 64, 64);
}
.app-text p{
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;

}
.picture{
    width:30% ;
    float: right;
}
.picture img{
    width:95%;
}

.slide{
    width: 98%;
    height: 500px;
}
.slide img{
    width: 80%;
    height: 90%;
    margin: 20px 0  20px 160px;
    
}





td{
    width: 20%;
    background-color: white;
    height: 50px!important;
    
  }

  tr{
	  
	  background-color: white;
  }

.inner {
	
	background-color: white;
	border-spacing: 24px 25px;
	height: 100px;
	width:100%;
    margin: 5px 0!important;
    
    box-shadow: 0px 2px 2px 2px#c2c2c9;
}
p{
	text-align: left;
}

table{
    width:100%;
    margin:auto;
    border-spacing: 24px 25px;
	
  }

  .view-btn{
      border-radius: 100px;
      background-color:#264490 ;
      cursor: pointer;
  }
  .view-btn:focus {outline:0;}

  .news{
      margin: 10px 150px!important;
      
  }

  .contact{
      margin-top: 20px;
      width: 50%;
      background-color:#264490b1 ;
      height: auto;
      margin-right: 0;
      margin-left: 20px;
      box-shadow: 1px 1px 1px 1px #cdcdff;
      border-radius: 5px;
      text-align: left;
      padding: 40px;
      color: #f5f5f5;
      padding-bottom: 50px;
  }

  .contact h2{
      margin-top: 40px;
      margin-left: 40px;
      font-size: 30px;
      margin-bottom: 5px;
  }

  .contact p{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
  }

  .menu a:link{
      text-decoration: none;
      color: #e0dada;
  }
  .menu a:visited{
    text-decoration: none;
    color: #e0dada;
}

h1{
    text-align: center;
}

.view p{
    
    font-size: 15px;
    color: #303042;
    margin: 40px 150px;
    
}

.view{
    padding: 20px;
    background-color: #9b9ba068;
    margin: 20px -30px;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  
.image{
    width:100%;
    height: 200px;
}

.image img{
    width:auto;
    height: 100%;
}

.slideshow-container {
    max-width: 1300px;
    position: relative;
    margin: auto;
    margin-left: -90px;
  }
  
  .slideshow-container img{
      height: 450px;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
