body{
    margin:0;
    padding: 0;
    background: #e9e9e9;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-image: url(../../images/login.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.login{
    width: 900px;
    height: 470px;
    background: #fff;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 25px 10px; 
	opacity: 0.95;
    border-radius:10px;
    padding-right: 10px;
}

.logo{
    background-image: url(../../images/crest.png);
    height: 100%;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    float:left;
}

.login-box{
    width: 680px;
    height: 100%;
    background: #fff;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    padding: 20px 10px; 
	opacity: 0.95;
    border-radius:10px;
    padding-right: 10px;
	float: right;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}
h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
}

h3{
    margin-bottom: 10px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 15px;
}

.login p{
    margin: 10px 30px;
    padding: 0;
    font-weight: bold;
}



.login input
{
    margin: 10px 30px;
    width: 90%;
    margin-bottom: 20px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid rgb(133, 129, 129);
    background: transparent;
    color: rgb(24, 17, 17);
    font-size: 16px;
	height: 45px;
}



.login input[type="submit"]
{
    border: 1px solid #fff;
	outline: none;
    height: 40px;
	width : 250px;
    background: #565e64;
    color: #fff;
    font-size: 17px;
    border-radius: 15px;
	margin-left: auto;
    margin-right: auto;
	display:block;
}
.login input[type="submit"]:hover
{
    cursor: pointer;
    background: #e9e9e9;
    color: #000;
}


.login a:hover
{
    color: #7699af;
}
.login a{
    color:inherit;
    text-decoration: none;
}

#changePass{
        width: 700px;
        height: 55%;
 
}

#changePass h1{
    margin-bottom: 50px;
}

