html body{
	background-color: #f8f9fe;
	border:1px solid transparent;
	margin:0;
	padding:0;
	height:100%;
	background-size:100%;
	background-position:center;
	text-align:center;
	font-family: "Times New Roman", Times, serif;
}


.navbar{
	margin-left: 195px ;
	padding: 0;
	background:#333333;
	text-align:center;
	width: 90%;
	height:60px;
	position: fixed;
	z-index: 10;
	box-shadow:0 2px 0px 0px #9da0a4;
	
	
}
.wrap img{
	display:inline-flex;
	font-weight: bold;
	color:#fff;
	float:left;
	margin: 50px 10px 5px 45px;
	border-bottom:solid 1px #60666b;
}


.wrap{
	
	position: fixed;
	width:195px;
	height: 100%;
	background:#404040 ;
	padding: 0px;
	font-size:15px;
	box-shadow:0 10px 5px 0 #60666b;

}


.menu{
	margin: 200px 2px 0px -25px;
}
.wrap ul li{
	text-align: left;
	margin-top: 0;
	padding: 5px 0;
	list-style: none;
	overflow:hidden;
	cursor: pointer;
	display:block;
	margin-bottom: 30px;
	color: #cfd7b8;	
}
.wrap ul li a{
	color: #bdb8d7;
	display: block;
	text-decoration: none;

}

.wrap ul li:hover a{
	color: rgb(241, 237, 230);	
}

.wrap ul ul li:hover{
	background: #404040;	
}
.wrap ul ul li:hover a{
	color: #fff;
}
.wrap ul ul {
	margin-right: 5px;
	margin-bottom: 30px;
	margin-top: 20px;
}

.wrap ul ul li{
	margin-left:-30px ;
	margin-top: 0;
	margin-bottom: 15px;
	padding: 5px 10px 5px 0px;
	border-bottom: 1px solid #bdb8d7;
	color: #fff;
}
/* .wrap ul li:focus ul{
	display:block;
	cursor: pointer;
	
} */

.navbar input[type="submit"]
{
   	border: none;
	outline: none;
    height: 35px;
	width : 100px;
	font-weight: 500;
    background: transparent;
    color: rgb(193, 187, 187);
    font-size: 20px;
	margin-left: auto;
    margin-right: 30px;
	display:block;
	cursor: pointer;
	position: relative;
	margin-bottom: 5px;
}
.wrap input[type="submit"]:hover
{
    cursor: pointer;
    background: transparent;
    color: #60666b;
}

.content{
	margin-top: 100px;
	margin-left: 180px;
	margin-right:20px;
	margin-bottom: 0;
	height: 100%;
}

.card {
  box-shadow: 0 8px 5px 0 rgb(172, 172, 172); 
  width: 95%;
  height: auto;
  background-color:#fdfcfc;
  margin: auto;
  padding: 10px;
  overflow: auto;
  border-radius: 15px;
}


.container {
  padding: 5px 16px 5px 5px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
 
  background-color: white;
  margin-left:28px;
  
}

.container:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

a{
	text-decoration:none;
}

.content ul li{
	text-align: left;
	list-style-type: none;
	padding : 10px;
	padding-left: 30px;
}

.c-card {
	box-shadow: 0 8px 5px 0 rgb(155, 148, 148); 
	width: 50%;
	height:auto;
	background-color:#b1a7a71a;
	margin: auto;
	padding: 10px;
	overflow: auto;
	border-radius: 10px;
}


  .drop{
	background-color: #404040;
	border: none;
	color: #bdb8d7;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	outline:none;
}

.drop:hover{
	background-color: #404040;
	color: rgb(241, 237, 230);
}

.drop:focus{
	border: 1px solid #554c54;
	outline:none;
}

.fa-angle-down{
	margin-left: 3px;
}

ul{
	list-style: none;
}