#error{
    font-size: 17px;
    padding: 10px;
    height: 20px;
    margin: 5px 0 10px;
    text-align: center;
    width: 100%;
    color: rgb(194, 19, 54, 1, 33);
    background-color: rgb(247, 170, 186);
    height: auto;
}

#error a:link {
    text-decoration: none;
    color: rgb(0, 157, 255);
  }
  

#error a:visited {
    color: rgb(0, 157, 255);
  }

  #error a:hover {
    color: rgb(60, 154, 71);
  }

  #message{
    font-size: 17px;
    padding: 10px;
    height: 20px;
    margin: 5px 0 10px;
    text-align: center;
    width: 100%;
    color: rgb(194, 19, 54, 1, 33);
    background-color: rgb(150, 216, 157);
    height: auto;
}

#message a:link {
    text-decoration: none;
    color: rgb(11, 73, 112);
  }
  

#message a:visited {
    color: rgb(0, 157, 255);
  }

  #message a:hover {
    color: rgb(60, 154, 71);
  }
  
#msg{
    font-size: 17px;
    padding: 10px;
    height: 20px;
    margin: 5px 0 10px;
    text-align: center;
    width: 100%;
    color: rgb(194, 19, 54, 1, 33);
    background-color: rgb(150, 216, 157);
    height: auto;
}
