#error{
  color: #000;
  font-size: 17px;
  padding: 5px;
  margin: 5px 5px 15px 5px;

  height: 30px;
  margin: 5px auto;
  text-align: center;
  width: 96%;
  color: white;
  background-color: #e60000;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
}

#error a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  

#error a:visited {
    color: rgb(201, 201, 201);
  }

  #error a:hover {
    color: rgb(0, 0, 0);
  }

  #message{
    color: #000;
    font-size: 17px;
    padding: 5px;
    margin: 5px 5px 15px 5px;

    height: 30px;
    margin: 5px auto;
    text-align: center;
    width: 96%;
    color: white;
    background-color: rgb(48, 208, 64);
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
}

#message a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  

#message a:visited {
    color: rgb(220, 220, 220);
  }

  #message a:hover {
    color: rgb(1, 15, 3);
  }
  


#msg{
  font-size: 18px;
  padding: 5px;
  height: 30px;
  margin: 5px auto;
  text-align: center;
  width: 96%;
  color: white;
  background-color: #e60000;
  text-align: center;
  line-height: 25px;
  display:none;
}
#msg1{
  font-size: 18px;
  padding: 5px;
  height: 30px;
  margin: 5px auto;
  text-align: center;
  width: 96%;
  color: white;
  background-color: #e60000;
  text-align: center;
  line-height: 25px;
  display:none;
}

.text{
  font-size: 10px;
  padding: 1px;
  margin-top: -15px !important;
  margin-bottom: 10px!important;
  margin-left: 30px!important;
  width: 80%;
  color: #e60000;
  background-color: transparent;
  display:none;
}

