.content{
	z-index: -1;
	
}
.front{
	background-image:url("../../images/frontt.jpg");
	width: 80%;
	height: 350px;
	background-size: cover;
	background-position: center top ;
	background-repeat:no-repeat;
	text-align:center;
	opacity:.9;
	font: italic;
	color:#fff;
	font-size: larger;
	line-height: 350px;
	margin: 0 auto;
	
}


.container {
	padding:5px 5px 5px 5px;
	background-color:#fff;
	width:98%;
	text-align:center ;
	align-items:center ;
	justify-content: center;
	
}
.container p{
	font-size: 15px;
	padding: 10px 0;
	text-align: left;
}

h1{
	color: #6a7480;
	padding-top:20px;
}
.container h2{
	color:#004e7c;
	padding-top:10px;
	padding-bottom:5px;
}
h2{
	text-align:left;
	margin:10px 50px 0 50px; 
	color: rgb(5, 26, 87);
}
p{
	text-align:center;
	margin:10px 50px 0 50px; 
	white-space:pre-wrap;
}

.feed{
	width : 97%;
	height: 100%;
	margin: 10px auto;
	margin-top: 50px;

}

.page{
	display: flex;
	text-align: center;
	margin-right: 10px;
	
}


.btn-box{
	display: flex;
	padding: 5px;
	margin-left: 10%;
	margin-top: 70px;
	margin-bottom: 10px;
}

.btn-box button{
	background-color: #fff;
	border-radius:5px;
	border: none;
	box-shadow: 2px 2px 2px 2px rgb(172, 172, 172); 
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	margin-right: 15px;
	font-size: 15px;
	font-weight: bold;
	width: auto;
}

.card {
	padding: 10px!important;
	overflow: auto;
	
  }

.image{
	  padding: 10px;
	  width: 95%;
	  margin-bottom: 4%;
	  height: 250px;
	  
}

.image img{
	float: left;
	width: 30%;
	margin: 10px;
	display: block;
}

.des{
	margin-top: 20px;
}

 .news .card{
	background-image: url(../../images/bg.png);
	padding: 5px 0;
	border-radius: 0px;
}
#page1 .news .container{
	width: 75%;
}

#page3 .news .container{
	margin:0 0 0 10px;
	border-bottom: 2px solid #9facbb;
	color:#454c54 ;
}

.image{
	margin:auto;
}

.banner{
	background-image: url(../../images/event.jpg);
	height: 450px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
}

.image{
    width: 100%;
}
.image img{
    width: 80%;
}

.container{
	height: 100%;
	margin-top: 40px;
	border-radius: 10px;
	letter-spacing: .5px;
}

td{
    width: 20%;
    background-color: white;
	height: 50px!important;
  }

  tr{
	  
	  background-color: white;
  }

.inner {
	
	background-color: white;
	border-spacing: 24px 25px;
	height: 100px;
	width:100%;
	margin: 5px 0!important;
}
p{
	text-align: left;
}

table{
    width:100%;
    margin:auto;
	border-spacing: 24px 25px;
	
  }

.banner{
	background-image: url(../../images/event.jpg);
	height: 450px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
}

.btn-box{
	margin-top: 80px!important;
	margin-bottom: 20px!important;
}

.view-btn{
	height: 43px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: .5px solid transparent;
    border-radius: 15px;
    background-color: #abd4fd;
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.view-btn span{
    display: block;
    padding: 8px 20px;
}

.view-btn span a:link{
    text-decoration: none;
    color: black;
}
.view-btn span a:visited{
    text-decoration: none;
    color: black;
}
