body {font-family: Arial, Helvetica, sans-serif;}
.model {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 10px;
  }
  
  .close1 {
    color: rgb(96, 85, 85);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close1:hover,
  .close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .close2 {
    color: rgb(96, 85, 85);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  