html body{
	border:1px solid transparent;
	margin:0;
	padding:0;
	background-image: url(../images/gray.jpg);
	height:100%;
	background-size:100%;
	font-family: Arial, Helvetica, sans-serif;
}

.content img{
	margin-left: 45%;
}

.navbar{
	margin: 0 ;
	padding: 0;
	background:rgb(13, 7, 61);
	text-align:center;
	width: 100%;
	height:80px;
	position: fixed;
	z-index: 1;
	
	
}
.navbar h1{
	display:inline-flex;
	font-weight: bold;
	color:#fff;
	float:left;
	margin: 5px 10px 5px 35px;
}


.wrap{
	margin-top: 75px;
	position: fixed;
	width:220px;
	height: 100%;
	background:rgba(13, 4, 61, 0.232);
	padding: 0px;
	font-size:14px;
}


.wrap ul {
	margin: 50px 10px 0px -25px;
	margin-left: -25px;
}
.wrap ul li{
	
	padding: 20px 10px 10px 0px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-top: 1px solid rgba(0,0,0,0.05);
	list-style: none;
	overflow:hidden;
	cursor: pointer;
	display:block;
}
.wrap ul li a{
	color: #242231;
	display: block;
	text-decoration: none;

}
.wrap ul li:hover{
	background: #837a82	
}

.wrap ul li:hover a{
	color: rgb(210, 241, 241);
}
.wrap ul ul li:hover{
	background: rgba(102, 100, 109, 0.8);
	margin: 0px;
}
.wrap ul ul li:hover a{
	color: #fff;
}
.wrap ul ul{
	display:none;
}
.wrap ul ul li{
	padding: 10px 10px 10px 0px;
}

.wrap ul li:hover ul{
	display:block;
	cursor: pointer;
	
}
.wrap input[type="submit"]
{
   	border: none;
	outline: none;
    height: 40px;
	width : 100px;
	font-weight: bold;
    background: transparent;
    color: #242231;
    font-size: 15px;
	margin-left: auto;
    margin-right: 20px;
	display:block;
	cursor: pointer;
	position: relative;
	right: 42px;	
	top : 20px;
}
.navbar input[type="submit"]:hover
{
    cursor: pointer;
    background: transparent;
    color: #26628f;
}

.navbar input[type="submit"]
{
   	border: none;
	outline: none;
    height: 40px;
	width : 100px;
	font-weight: bold;
    background: transparent;
    color: #ffffff;
    font-size: 25px;
	margin-left: auto;
    margin-right: 20px;
	display:block;
	cursor: pointer;
	position: relative;
}
.wrap input[type="submit"]:hover
{
    cursor: pointer;
    background: transparent;
    color: #26628f;
}


.wrap a:hover
{
    color: #ffc107;
}
.content{
	margin-left: 220px;
	width: 100%;
}

.content img{
	margin-left: 550px;
}
.content h1{
	margin-left: -270px;
}
.content1{
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	margin-left: 100px;

}

.content1 label{
	margin-left: 200px;
}
.content1 input{
	margin-left: 30px;
}


.container {
  padding: 5px 16px 5px 5px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  background-color: white;
  margin-left:8px;
  
}

.container:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

a{
	text-decoration:none;
}

.content ul li{
	text-align: left;
	list-style-type: none;
	padding : 10px;
	padding-left: 30px;
}