body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 10px;
  background-color: white;
  margin-left:8px;
  margin-bottom: 10px ;
  
}

label{
  float:left;
  margin-left: 10px;
  font-size: 18px;
}

input[type=text], input[type=password], textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=radio] {
  width: 100%;
  
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.cancel{
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 1px 3px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: 200;
  opacity: 0.8;
}
.cancel:hover {
  opacity: 1;
}
.cancel h2 a:link{
  color: #ccc;
}

.cancel h2 a:visited{
  color: #ccc;
}

.navbar h1{
	display:inline-flex;
	font-weight: bold;
	color:#fff;
	float:left;
	margin: 15px 10px 0px 35px;
}


.selectbutton{
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin: 17px;
  margin-top: 15px;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  margin-left: 15px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.radio:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .checkmark:after {
  display: block;
}
