body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 10px;
  background-color: white;
  margin-left:25%;
  width:50%;
  
}

label{
	float:left;
}
.search{
	float:right;
}
.search input[type=text] {
  width: 250px;
  padding: 7px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: 1px solid transparent;
  background: #f1f1f1;
}
input[type=text], input[type=password], input[type="date"],textarea,input[type="file"],input[type="email"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid transparent;
  background: #f1f1f1; 
}

select{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid transparent;
  background: #f1f1f1;
}

input[type=text]:focus{
 
  border: 1px solid green;
  background: #fff!important;
}
input[type=password]:focus{
 
  border: 1px solid green;
  background: #fff!important;
}

input[type=date]:focus {
 
  border: 1px solid green;
  background: #fff!important;
}

input[type=file]:focus{
 
  border: 1px solid green;
  background: #fff!important;
}
input[type="email"]:focus{
 outline: none;
  border: 1px solid green!important;
  background: #fff!important;
}
textarea:focus{
 
  border: 1px solid green;
  background: #fff!important;
}

input[type=radio] {
  width: 100%;
  
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

h2 a{
  color: #4CAF50;
  text-decoration:none;
  font-size: 20px;
  border: #4CAF50  solid 2px;
  padding: 10px;
}

.registerback {
  background-color: #868585;
  color: white;
  padding: 10px 11px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
  opacity: 0.9;
  font-size: medium;
}
.registerback:hover {
  opacity: 70%;
  padding: 11px 11px;
}
.registerback:focus {
  outline:none;
}
.cancel-btn {
  background-color: #f11a1a;
  color: white;
  padding: 10px 11px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
  opacity: 0.9;
  font-size: medium;
}
.cancel-btn:hover {
  opacity: 70%;
  padding: 11px 11px;
}

.cancel-btn:focus {
  outline:none;
}

.registerbtn {
  background-color: #33c437;
  color: white;
  padding: 10px 11px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
  opacity: 0.9;
  font-size: medium;
}

.registerbtn:hover {
  opacity: 70%;
  padding: 11px 11px;
}

.registerbtn:focus {
  outline:none;
}
