body{
	margin: 0;
    padding: 0;
	min-height: 100vh;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: consolas;
    
   
}







.content-area{
    width: 100%;
    position: relative;
    height: 720px;
    background: #39424E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;

}

.container{
    margin-top: 5%;
    width: 2000px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.container .card{
    position: relative;
}
.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.container .card .face.face1{
    position: relative;
    background: rgb(250,229,229);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);

}
.container .card:hover .face.face1{
    background: #B2BEB5;
    transform: translateY(0);
}
.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
    text-align: center;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}


.container .card .face.face1 img{
    width: 90px;
    height: 90px;
    
}
.container .card:hover .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
}



.container .card .face.face2{
    text-align: center;
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8) ;
    transform: translateY(-100px);


}
.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;

}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color:#fff;
}


footer{
	padding: 10px;
	margin-top: 100px;
	color: #ffffff;
	background-color: #30c43c;
	text-align: center;
}	

