.card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-bottom:100px;
  width:80%;
  margin-left: 10%;
  margin-bottom: 0%;
}


.r-container {
  padding: 5px 16px 5px 25px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  width:30%;
  float:left;
  display:block;
  margin-bottom:10px;
  margin-left: 10%;
  margin-right: 10%;
}

.l-container {
  padding: 5px 16px 5px 25px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  width:30%;
  float:left;
  display:block;
  margin-bottom:10px;
  margin-left: 10%;
  margin-right: 10%;
}


.l-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   margin:0px;

}
.r-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin:10px;
}

h2{
	margin-top : 10px;
  padding-top:10px;
  padding-bottom: 25px;
}