.card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-bottom:150px;
  width:100%;
}


.l-container {
  padding: 5px 16px 5px 15px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  width:30%;
  float:left;
  display:block;
}
.r-container {
  padding: 5px 16px 5px 25px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  width:20%;
  float:left;
  display:block;
}


.l-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   margin:3px;
}
.r-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin:10px;
}

h2{
	padding-top:40px;
}
